:root {
  --black: #231f20;
  --light: #eaeaea;
  --gold: #ad974f;
}

#contact {
  flex: 0 0 20%;
  text-align: center;
  margin-right: 30px;
  line-height: 1.1;
  padding-right: 15px;
}
.info {
  list-style: none;
  margin-right: 15px;
  color: var(--black);
  /* text-decoration: underline var(--gold) 3px; */
  font-size: 18px;
}
#email {
  color: var(--black);
}

.page-section > ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.li {
  display: inline;
}
