:root {
  --black: #231f20;
  --light: #eaeaea;
  --gold: #ad974f;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
}
#nav-name {
  margin-left: 10px;
  color: var(--gold);
  font-family: "Roboto Mono", monospace;
  border-bottom: var(--light) solid 3px;
  font-weight: 550;
}
#nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item {
  margin: 10px 15px 0px 15px;
  color: var(--gold);
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  transition: all 0.8s;
}
.nav-item:hover {
  background-color: var(--light);
  font-size: 24px;
}
.nav-a {
  color: var(--gold);
}
a:hover {
  color: var(--gold);
  text-decoration: none;
}
